@use "variables";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container($max-width: 1330px, $padding: 15px) {
  width: 100%;
  max-width: $max-width;
  padding-left: $padding;
  padding-right: $padding;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@mixin transition(
  $properties,
  $duration: variables.$transition-duration,
  $timing-function: variables.$timing-function,
  $delay: 0ms
) {
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  transition-delay: $delay;
}
