<!-- <header class="header">
  <div class="container">
    <div class="top-bar">
      <div class="socials">
        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
          <svg width="20" height="20">
            <use href="./assets/sprite/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
        <a href="https://twitter.com" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
          <svg width="24" height="20">
            <use href="./assets/sprite/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
        <a href="https://instagram.com" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
          <svg width="20" height="20">
            <use href="./assets/sprite/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </div>

      <a href="/" class="logo" aria-label="Smart Store homepage">
        <svg class="logo-icon" width="228" height="38" aria-hidden="true">
          <use href="./assets/sprite/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <div class="actions">
        <button class="icon-btn" aria-label="Account">
          <svg width="30" height="30">
            <use href="./assets/sprite/sprite.svg#icon-user"></use>
          </svg>
        </button>
        <button class="icon-btn" aria-label="Cart">
          <svg width="34" height="34">
            <use href="./assets/sprite/sprite.svg#icon-shopping-cart"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="nav-bar">
      <nav class="nav">
        <ul class="nav-list">
          <li><a href="index.html" class="nav-link">Home</a></li>
          <li><a href="./pages/catalog.html" class="nav-link">Catalog
              <span class="arrow-down">
                <svg width="8" height="12" aria-hidden="true">
                  <use href="./assets/sprite/sprite.svg#icon-arrow-down"></use>
                </svg>
              </span>
            </a>
          </li>
          <li><a href="./pages/about.html" class="nav-link">About Us</a>
          </li>
          <li><a href="./pages/contact.html" class="nav-link">Contact
              Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header> -->